.settingSection {
    padding: 12px;
    font-size: 18px;
}

.settingSection h2 {
    margin-bottom: 12px;
    font-weight: 600;
    text-align: left;
}

:global(.userSettings) {
    text-align: left;
}

:global(.userSettings input) {
    background-color: #ffffff;
}

:global(.userSettings select) {
    background-color: #ffffff;
}

:global(.userSettings a:hover) {
    color: #ffffff;
    text-decoration: none;
}