.settingSection {
    padding: 20px;
    font-size: 18px;
}

.settingSection h2 {
    font-weight: 600;
    text-align: left;
}

:global(.header) {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

:global(.header svg) {
    cursor: pointer;
}

:global(.userSettings) {
    text-align: left;
}

:global(.userSettings input) {
    background-color: #ffffff;
}

:global(.userSettings select) {
    background-color: #ffffff;
}

:global(.userSettings a:hover) {
    color: #ffffff;
    text-decoration: none;
}