.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    width: 400px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.loginForm form {
    width: 350px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.signUpBox {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    width: 400px;
    text-align: center;
}

.signUpBox span {
    font-size: 18px;
    margin: 0px 8px;
}

#showPasswordContainer input {
    margin: 5px 0px;
    padding: 0;
    width: auto;
    margin-right: 8px;
}

#showPasswordContainer label {
    color: #81817c;
}