.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.loginForm form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.loginForm form button,
.loginForm form input {
    margin: 0px;
}

.loginHeader {
    margin: 8px 0;
}

.loginHeader h1 {
    text-align: left;
    font-weight: 600;
    margin: 4px 0px;
}

.loginHeader p {
    font-size: 14px;
    color: #4d4c4b;
}

#showPasswordContainer input {
    margin: 5px 0px;
    padding: 0;
    width: auto;
    margin-right: 8px;
}

#showPasswordContainer label {
    color: #81817c;
}


@media screen and (max-width: 480px) {

    .loginForm {
        width: 400px;
        align-items: center;
    }

    .loginHeader {
        text-align: center;
    }

    .loginForm form {
        width: 320px;
    }

}