.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    min-width: 310px;
    background-color: #ffffff;
    color: #000000;
    padding: 16px;
    font-size: 18px;
    border-radius: 5px;
}

.sideBarUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0px;
}

.sideBarUser img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.sideLinks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sideLinks a {
    width: 170px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    color: #003049;
    font-size: 20px;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px;
}

.sideLinks a:hover {
    color: #025e90;
    background-color: #edede9;
    text-decoration: none;
}

.sideLinks h4 {
    text-align: center;
}

.divider {
    width: 100%;
    border-bottom: 2px solid #edede9;
    margin: 40px 0;
}


@media screen and (max-width: 480px) {

    .sideBar {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .sideBar {
        display: none;
    }
}