.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px);
    min-width: 310px;
    background-color: #ffffff;
    color: #000000;
    padding: 16px;
    border-right: 1px solid #000000;
    font-size: 18px;
}

.sideBarUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0px;
}

.sideBarUser img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.sideLinks {
    display: flex;
    height: 200px;
    flex-direction: column;
    gap: 8px;
}

.sideLinks a {
    width: 170px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    color: #003049;
    font-size: 20px;
}

.sideLinks a:hover {
    color: #025e90;
    background-color: #edede9;
    border-radius: 5px;
    text-decoration: none;
}

.sideLinks h4 {
    text-align: center;
}

.divider {
    width: 100%;
    border-bottom: 2px solid #edede9;
    margin: 40px 0;
}