#homePage {
    display: flex;
    gap: 20px;
    width: 1200px;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.feed::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.feed h1 {
    margin-bottom: 60px;
}

.userPost {
    width: 750px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}

.userPost img {
    width: 100%;
    height: 400px;
}

.userHeading {
    border-bottom: 1px solid #edede9;
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userDetails p {
    text-overflow: ellipsis;
    word-break: break-word;
    line-height: 1.4;
}

.postDescription {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.postDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.postDetails p span {
    font-weight: bold;
    margin-right: 5px;
}

/* Comment Section */

.commentSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentHeader div a {
    background-color: inherit !important;
}

.userImage {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
}

.userImage img {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
}

.IconsAction {
    gap: 8px;
}

.newComment {
    display: flex;
    gap: 8px;
    padding-top: 12px;
    margin: 12px 0;
    border-top: 1px solid #edede9;
}

.newComment img {
    border-radius: 50%;
    height: 30px !important;
    width: 30px !important;
    margin-top: 8px;
}

.HandleComment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HandleComment button {
    align-self: flex-end;
    margin: 0;
}

.comments {
    margin: 8px 0;
    text-overflow: ellipsis;
    word-break: break-word;
    line-height: 1.4;
}

.commentsVisible {
    display: block;
}

.commentsHidden {
    display: none;
}

.SidebarR {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gridModeActive {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    width: 371px;
    height: fit-content;
}

.gridModeActive img {
    width: 100%;
    height: 400px;
}

:global(.dropdownMenu) {
    position: absolute;
    z-index: 100;
    margin-top: 25px;
    padding: 8px;
    background: #ffffff;
    width: 175px;
    border-radius: 5px;
    top: 0;
    right: 5px;
    border: 3px solid #e9e9e9;
}

:global(.hidden) {
    display: none;
}

:global(.postMenu) {
    display: flex;
    flex-direction: column;
}

:global(.postButtons) {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

:global(.postButtons:hover) {
    background-color: #edede9;
    color: #003049;
}

@media screen and (max-width: 480px) {
    #homePage {
        flex-direction: column;
        align-items: center;
    }

    .pageHeightNoPost {
        height: calc(100vh - 110px - 70px) !important;
    }

    .feed {
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    .feed h1 {
        margin: auto;
    }

    .createPost {
        width: 430px;
    }

    .userPost {
        width: 100%;
    }

    .SidebarR {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {

    #homePage {
        flex-direction: column;
    }

    .pageHeightNoPost {
        height: calc(100vh - 110px - 70px) !important;
    }

    .feed {
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    .feed h1 {
        margin: auto;
    }

    .userPost {
        width: 100%;
    }

    .SidebarR {
        display: none;
    }

    .commentHeader div a {
        background-color: inherit !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {}