#homePage {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: calc(100vh - 70px);
}

.sideBar {
    width: 250px;
    background-color: #8ecae6;
    color: #ffffff;
}

.feedContainer {
    display: flex;
    overflow: scroll;
    flex-grow: 2;
    justify-content: center;
}

.feed {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    flex-grow: 2;
    padding: 20px 0px;
}

.feed::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.userPost {
    width: 60%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #edede9;
}

.userPost img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.commentsVisible {
    display: block;
}

.commentsHidden {
    display: none;
}