.createPost {
    background-color: #ffffff;
    padding: 16px;
    width: 750px;
    border-radius: 5px;
}

:global(.deleteModal) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

:global(.deleteModal p) {
    margin: 4px 0;
    font-size: 18px;
}

:global(.deleteModal button) {
    width: 250px;
    margin: 5px 0;
}


.userDetails {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
}

.profileImg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.UploadImage {
    font-size: 28px;
    width: fit-content;
    margin: 4px 0;
    color: #003049;
}

.UploadImage>label {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.UploadImage>label input[type="file"] {
    margin: 0;
    padding: 0;
}

.UploadImage>label span {
    font-size: 16px;
}