.landingPage {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    width: 100%;
    flex-grow: 2;
}

div:has(div.landingPage) {
    padding: 0;
}

.sections {
    width: 50%;
    height: 100vh;
}

.sections img {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

.sections:first-child {
    position: relative;
    background-color: #000000;
    color: #ffffff;
}

.sections:nth-child(2) {
    flex-direction: column;
    gap: 20px;
}

.heading {
    font-size: 24px;
    top: 20%;
    position: absolute;
    transform: translateY(20%);
    z-index: 10;
}