.landingPage {
    display: flex;
    justify-content: space-evenly;
    height: calc(100vh - 40px);
    align-items: center;
    width: 100%;
    flex-grow: 2;
    background: url('../../assets/family-time.svg');
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.sectionOne {
    position: relative;
    width: 50%;
    height: 100vh;
}

#sectionForm {
    flex-direction: column;
    gap: 20px;
    color: #000000;
}

.heading {
    font-size: 24px;
    top: 15%;
    position: absolute;
    transform: translateY(20%);
    z-index: 10;
}

.header {
    font-size: 18px;
}

.header h1 {
    font-weight: 600;
    font-size: 36px;
}

.signUpBox {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    width: 400px;
    text-align: center;
}

.signUpBox span {
    margin-right: 4px;
}

.signUpBox a {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .landingPage {
        flex-direction: column;
        justify-content: space-around;
        gap: 60px;
        background: url('../../assets/quality-time.svg');
        background-repeat: no-repeat;
    }

    .header {
        color: #ffffff;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .landingPage {
        flex-direction: column;
        gap: 60px;
        justify-content: center;
    }

    #sectionForm {
        flex: none;
    }
}