.landingPage {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    width: 100%;
    flex-grow: 2;
}

.sections {
    width: 50%;
    height: 100vh;
}

.sections:first-child {
    background-color: #003049;
    color: #ffffff;
}

.sections:nth-child(2) {
    flex-direction: column;
    gap: 20px;
}