#userPage {
    display: flex;
    gap: 20px;
    width: 1200px;
}

.userHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 750px;
}

.profileImg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    position: absolute;
    top: 150px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.bannerImg {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.imgButton {
    position: absolute;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
}

.userFeed {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 0 0;
}

.userCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.userCard::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.userActions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 190px;
    width: 100%;
    padding: 12px 4px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5px;
}

.userSection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    width: 350px;
}

.userSection h3 {
    border-bottom: 1px solid #edede9;
    padding-bottom: 8px;
    width: 100%;
}

.userSection a:hover {
    color: #ffffff;
    text-decoration: none;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2;
    margin-top: 8px;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.followSection {
    text-align: center;
}