#userPage {
    display: flex;
    gap: 20px;
    width: 1200px;
}

.userHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 750px;
}

.profileImg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    position: absolute;
    top: 100px;
    left: 0;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.bannerImg {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.imgButton {
    position: absolute;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
}

.userFeed {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 0 0;
}

.userCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.userCard::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.userActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 180px;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.actions p {
    margin: 8px 0;
}

.actions button {
    margin: 0;
}

.userSection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    width: 350px;
}

.userSection h3 {
    border-bottom: 1px solid #edede9;
    padding-bottom: 8px;
    width: 100%;
}

.userSection a:hover {
    color: #ffffff;
    text-decoration: none;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2;
    margin-top: 8px;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.followSection {
    text-align: center;
}

.ProfileInput {
    position: relative;
}

.ProfileInput input[type="file"] {
    position: absolute;
    width: 125px;
    height: 60px;
    margin: 0;
}

.ProfileInput button {
    margin-right: 0px;
}

.ActionBtn {
    text-align: center;
}

.SetProfileImg {
    display: flex;
    font-size: 18px;
}

.SetProfileImg input {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
}

.actionTabs {
    display: flex;
    width: 100%;
    border-radius: 5px;
    margin-top: 16px;
}

.actionTabs ul {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 5px;
}

.actionTabs ul li {
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: 5px;
    gap: 4px;
}

.actionTabs ul li:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 1px solid #edede9;
}

.actionTabs ul li:first-child:active {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.actionTabs ul li:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.actionTabs ul li:active {
    background-color: #025E95;
    border-radius: 5px;
    color: #ffffff;
}

.actionTabs ul li:nth-child(2):active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.active {
    background-color: #025E95;
    color: #ffffff;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    #userPage {
        flex-direction: column;
        /* height: calc(100vh - 70px - 70px - 40px) */
    }

    .userHeader {
        width: 100%;
        align-items: flex-start;
    }

    .userFeed {
        width: 100%;
    }

    .feed {
        width: 100%;
    }

    .userSection {
        width: 100%;
    }

    .profileImg {
        top: 82px;
        left: -10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    #userPage {
        flex-direction: column;
    }

    .userHeader {
        width: 100%;
        align-items: flex-start;
    }

    .userFeed {
        width: 100%;
    }

    .userActions {
        margin-bottom: 12px;
    }

    .feed {
        width: 100%;
    }

    .userSection {
        width: 100%;
    }
}