* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #edede9;
}

input,
textarea,
select {
  background-color: #edede9;
  border: 1px solid #dad7cd;
  font-size: 16px;
}

input,
select {
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  border-radius: 5px;
}

input[type=file] {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

a {
  text-decoration: none;
  color: #003049;
  font-size: 18px;
}

a:hover {
  color: #025e90;
  text-decoration: underline;
}

li {
  list-style: none;
}

h1 {
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 4px 0px;
  resize: none;
  border-radius: 5px;
}

img {
  object-fit: cover;
  object-position: center;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}

.success {
  color: green;
  font-size: 15px;
}

.btn {
  font-size: 16px;
  color: #ffffff;
  background-color: #003049;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  margin-right: 4px;
}

.btn:hover {
  background-color: #004062;
}

.delete-btn {
  background-color: #c1121f;
  padding: 8px;
}

.delete-btn:hover {
  background-color: #d91421;
}

.update-btn {
  background-color: #669bbc;
  padding: 8px;
}

.update-btn:hover {
  background-color: #72afd4;
}

.success-btn {
  background-color: #008000;
  padding: 8px;
}

.success-btn:hover {
  background-color: #00a000;
}

.p-16 {
  padding: 16px;
}

.m-8 {
  margin: 8px 0;
}

.icons {
  margin: 0 5px;
  cursor: pointer;
}

.viewComments {
  color: #8ecae6;
  border-bottom: 2px solid #8ecae6;
  cursor: pointer;
}

.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.default-picture {
  border: 2px solid #003049;
  border-radius: 50%;
}

.feedContainer {
  display: flex;
  overflow: scroll;
}

.active {
  background-color: #edede9;
  border-radius: 5px;
  color: #003049;
}