#exploreFeed {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: calc(100vh - 70px);
    flex-grow: 2;
}

#exploreFeed h1 {
    font-size: 2.3rem;
    margin: 16px 0;
}

.postFeed {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 20px;
    align-items: flex-start;
}

.postFeed>div {
    width: 410px;
}