nav {
    background-color: #003049;
    padding: 0px 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

nav a {
    color: #ffffff;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

.profile-dropdown {
    position: absolute;
    z-index: 100;
    margin-top: 10px;
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    right: 20px;
    border: 2px solid #000000;
}

.profile-dropdown li {
    margin: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.profile-dropdown button {
    width: 100%;
}